#window-end {
    width: 335px;
    height: 465px;
    margin: 150px auto;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0;
    z-index: 150;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all .3s;
}

.input {
    padding-left: 15px;
}

.input__basket {
    background-color: #fff;
    color: black;
    width: 385px;
    margin-top: 20px;
}

.basket__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}