

.sl {
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__zag {
        @media (max-width: 900px) {
            font-size: 16px;
            font-weight: bold;
        }    
        font-size: 24px;
        line-height: 28px;
        color: rgba(0, 0, 0, 0.87);
        mix-blend-mode: normal;
        margin-top: 5px;
    }

    &__desc {
        @media (max-width: 900px) {
            // display: none;
            font-size: 11px;
        }    

        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        color: rgba(0, 0, 0, 0.87);
        margin-top: 15px;
    }

    &__slide {
        @media (max-width: 900px) {
        background-color: #fff;
        }
    }
}

.price {
    @media (max-width: 900px) {
        font-size: 16px;
        font-weight: bold;
    }    

    color: black;
    font-size: 28px;
    line-height: 56px;
    color: rgba(0, 0, 0, 0.87);
    mix-blend-mode: normal;
}

.form__end {
    margin-top: 85px;
}