.footer-body {
    background-color: #FC9908;
}
.footer {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 15px 0;
    margin: 60px 0 10px 0;
    position: absolute; 
    left: 0; bottom: 0;
    padding: 10px; 
    background: var(--orange);;
    color: #fff;
    width: 100%;

    &__text--p {
        display: block;
        font-size: 20px;
        text-align: center;
        margin-left: 20px;
    }

    &__text {
        a {
            text-decoration: none;
        }
        
    }

    &__links {
        // margin-left: 20%;
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    &__links--ul {
        display: flex;
        
    }

    &__links--a {
        display: block;
    }

    &__links--call {
        margin-right: 5%;
    }
 
    &__links--message {
        margin-right: 5%;
    }

    &__links--insta {
        margin-right: 5%;
    }

}