.main {
    @media (max-width: 900px) {
        background: #474B5D;
    }
    
}
.title {
    @media (min-width: 900px) {
        color: black;
    }
    margin-top: 0;
}

.button {
    
    display: flex;
    justify-content: center;
    // align-items: center;
    text-align: center;
}

.btn {
    @media (min-width: 900px) {
        color: white;
        background-color: var(--orange);
    }
    background-color: inherit;
    border: 2px solid var(--orange);
    color: var(--white);
    border-radius: 200px;
    height: 50px;
    width: 250px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}