.main {
    flex-grow: 1;
    @media (max-width: 900px) {
        background: #474B5D;
    }

}

.title {
    @media (min-width: 900px) {
        color: black;
        padding-top: 0;
    }

    margin-top: 0px;
    padding-top: 150px;
}

.button {

    display: flex;
    justify-content: center;
    // align-items: center;
    text-align: center;
}

.button a {
    text-decoration: none;
}



.btn {
    @media (min-width: 900px) {
        color: black;
        background-color: var(--orange);

    }

    background-color: inherit;
    border: 2px solid var(--orange);
    color: var(--white);
    border-radius: 200px;
    height: 50px;
    width: 250px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.main-logo {
    @media (max-width: 900px) {
       display: none; 
    }
    display: flex;
    justify-content: center;
}

svg.icon.main-logo {
    
    &__icon  {
        // fill: var(--orange);
        width: 250px;
        height: auto;
        margin-top: 195px; 
    }
}

.text-hide {
    @media(min-width: 900px) {
        display: none;
    }
}

.link__h1 {
    color: white;
}
.restaurants {
    display: flex;
    justify-content: space-around;
}