.stock {
    @media (min-width: 900px) {
        margin-top: 75px;
    }

    background: #474B5D;
}

.main-cards {
    @media (min-width: 900px) {
        display: flex;
    }
}

.main-card {
    @media (min-width: 900px) {
        width: 345px;
        margin-right: 35px;
    }

    background-color: white;
}

.main-card:last-child {
    @media (min-width: 900px) {
        margin-right: 0;
    }

}

.stock-img {
    width: 100%;
}

.stock-title {
    font-size: 22px;
    font-weight: 500;
    padding-left: 15px;
    line-height: 23px;
    letter-spacing: 0.15px;
    margin-top: 20px;
}

.restourant-name {
    font-size: 14px;
    line-height: 20px;
    color: black;
    letter-spacing: 0.25px;
    font-weight: normal;
    padding-left: 15px;
    margin-top: 15px;
}

.description {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: black;
    letter-spacing: 1px;
    padding-left: 15px;
    margin-top: 20px;
}

.in-basket {
    text-transform: uppercase;
    padding-left: 15px;
    color: var(--orange);
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    font-size: 14px;

}